---
import AdminLogin from '../../admin/AdminLogin';
---
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Grameow Admin - 로그인</title>
  </head>
  <body style="margin:0">
    <AdminLogin client:load />
  </body>
</html>
