---
import AdminLayout from '../../admin/AdminLayout';
import UsersList from '../../admin/UsersList';
---
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Grameow Admin - 사용자</title>
  </head>
  <body style="margin:0">
    <AdminLayout client:load>
      <UsersList client:load />
    </AdminLayout>
  </body>
</html>
